<div class="circle">
  <div class="circle__inner">
    <div class="circle__wrapper">
      <div class="circle__content">
      <p class="title"><%= number %><p>
      <p><%= text %></p>
      </div>
    </div>
  </div>
</div>
