### Rails ###
*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/locales/application.yml
.DS_Store
db/.DS_Store
config/application.yml
log/development.log
config/initializers/algoliasearch.rb
