<div>
  <% if a.trackable %>
  <%= render partial: '/public_activity/project/project_template', locals: {text: 'Project ' + content_tag(:strong, a.trackable.name) + ' was added by', user: a.owner.full_name, date: time_ago_in_words(a.created_at.to_time)} %>
  <% else %>
  <%= render partial: '/public_activity/project/project_template', locals: {text: 'Project which has since been removed was added by', user: a.owner.full_name, date: time_ago_in_words(a.created_at.to_time)} %>
  <% end %>
</div>

