<div class="event">
  <div class="label">
    <i class="line chart icon"></i>
  </div>
  <div class="content">
    <div class="summary">
    <%= raw(text) %>
      <a class="user">
        <%= user %>
      </a>
      <div class="date">
        <%= date %> ago
      </div>
    </div>
  </div>
</div>
