
<!-- Modal -->
<div class="ui long modal create-client-modal">
  <div class="header">Add a new client</div>
  <div class="content">
    <form class="ui create-new-client form" action="/clients" method="post">
      <div class="required field">
        <label>Client name</label>
        <input type="text" name="client[name]" placeholder="Great Company">
      </div>
      <div class="field">
        <label>Email</label>
        <input type="text" name="client[email]" placeholder="name@company.com">
      </div>
      <div class="field">
        <label>Website</label>
        <input type="text" name="client[website]" placeholder="http://great.co">
      </div>
      <div class="field">
        <label>Phone</label>
        <input type="text" name="client[phone]" placeholder="+32 11 11 11 11">
      </div>
      <div class="field">
        <label>Address</label>
        <textarea rows="2" class="client[address]" placeholder="Parvis Sainte-Gudule 5
        1000 Bruxelles"></textarea>
      </div>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="ui error message"></div>
      <div class="right-aligned">
        <button class="ui button">Cancel</button>
        <button class="ui inverted button submit-button" type="submit">Create Project</button>
      </div>
    </form>
  </div>
</div>
</div>
