<div class="mdl-tabs__panel is-active" id="activity-panel">
  <!-- begin activity code -->
  <%= render_activities @activities %>
  <div class="ui list">
    <div class="item">
      <img class="ui avatar image" src="img/lukas.png">
      <div class="content">
        <a class="header">Lukas Gutwinski</a>
        <div class="description">Has tagged the task <a><b>Marketing plan</b></a> as done just now.</div>
      </div>
    </div>
  </div>
</div>
