<tr>
  <td data-label="Status" class="mdl-data-table__cell--non-numeric"><i class="fa fa-check-circle fa-2x task-unchecked mark-as-done-trigger task-status" aria-hidden="true"></i></td>
  <td class="task-name"><%= task.name %></td>
  <td class="task-start">25.7.2016</td>
  <td class="task-end">27.7.2016</td>
  <td class="task-consultant"><%= task.user.email %></span></td>
</tr>
