
<main class="mdl-layout__content">
  <div class="page-content my-projects">

    <BR>
      <BR>
        <BR>

          <div class="right-aligned new-project-button">
            <button class="mdl-button  mdl-button--raised mdl-button--colored create-project">
              New Project
            </button>
          </div>

          <div id="new-project-table">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Status</th>
                  <th>Name</th>
                  <th>Client</th>
                  <th>Budgeted Days</th>
                  <th>Progress</th>
                  <th>Project Lead</th>
                </tr>
              </thead>
              <tbody>

                <% @projects.each do |p| %>
                <%= render "project", project: p %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

      </main>

      <div class="ui long modal edit-modal">
  <div class="header">Edit Consultant</div>
        <div class="content">
        </div>
  </div>
</div>

<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>

<script type="text/javascript">
  $('.ui.create-project-modal')
      .form({
        fields: {
          name: {
            identifier: 'project[name]',
            rules: [
            {
              type   : 'empty',
              prompt : 'Please enter a name for your project'
            }
            ]
          }
          }
      })
      ;
</script>
      <%= render 'form' %>
