
<main class="mdl-layout__content">
  <div class="page-content my-projects">

    <BR>
      <BR>
        <BR>

          <div class="right-aligned new-project-button">
            <button class="mdl-button  mdl-button--raised mdl-button--colored create-project">
              New Project
            </button>
          </div>

          <div id="new-project-table">
          <div id="project-list">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric"><span class="sort" data-sort="project-status">Status</span></th>
                  <th><span class="sort" data-sort="project-name">Name</span></th>
                  <th><span class="sort" data-sort="project-client">Client</span></th>
                  <th><span class="sort" data-sort="project-budget">Budgeted Days</span></th>
                  <th><span class="sort" data-sort="project-progress">Progress</span></th>
                  <th><span class="sort" data-sort="project-project-lead">Project Lead</span></th>
                </tr>
              </thead>
              <tbody class="list">

                <% @projects.each do |p| %>
                <%= render "project", project: p %>
                <% end %>
              </tbody>
            </table>
            <ul class="pagination"></ul>
          </div>
          </div>
        </div>

      </main>

      <div class="ui long modal edit-modal">
  <div class="header">Edit Consultant</div>
        <div class="content">
        </div>
  </div>
</div>


<%= content_for(:after_js) do %>
  <script type="text/javascript">
    $('.ui.create-project-modal')
  </script>

<script type="text/javascript">
  $('.ui.create-project-modal')
      .form({
        fields: {
          name: {
            identifier: 'project[name]',
            rules: [
            {
              type   : 'empty',
              prompt : 'Please enter a name for your project'
            }
            ]
          }
          }
      })
      ;
  </script>
  <!-- list.js -->
   <script>
      var options = {
        valueNames: [ 'project-status', 'project-name', 'project-client', 'project-budget', 'project-progress', 'project-project-lead'],
        page: 10,
        plugins: [
          ListPagination({})
        ]
      };

      var projectList = new List('project-list', options);
    </script>
    <!-- Modal -->
<script type="text/javascript">
  $(document)
  .ready(function() {

    $('.project-manager-popup-trigger')
    .popup()
    ;
  });

  $( ".create-project" ).click(function() {
    $('.create-project-modal')
    .modal('show')
    ;
  });

// For responsive table (get table headers)

var headertext = [];
var headers = document.querySelectorAll("thead");
var tablebody = document.querySelectorAll("tbody");

for (var i = 0; i < headers.length; i++) {
  headertext[i]=[];
  for (var j = 0, headrow; headrow = headers[i].rows[0].cells[j]; j++) {
    var current = headrow;
    headertext[i].push(current.textContent);
  }
}

for (var h = 0, tbody; tbody = tablebody[h]; h++) {
  for (var i = 0, row; row = tbody.rows[i]; i++) {
    for (var j = 0, col; col = row.cells[j]; j++) {
      col.setAttribute("data-th", headertext[h][j]);
    }
  }
}

</script>

<script type="text/javascript"> $('.ui.dropdown').dropdown(); </script>
<% end %>
      <%= render 'form' %>
