
<!-- Modal -->
<div class="ui long modal create-timeline-modal">
  <div class="header">Edit update</div>
  <div class="content">
    <form class="ui create-new-timeline form" action="/projects/<%= params[:project_id] %>/timelines" method="post">
      <div class="required field">
        <label>Title</label>
        <input type="text" name="timeline[title]" placeholder="">
      </div>
      <div class="field">
        <label>Description</label>
        <textarea rows="2" name="timeline[description]" placeholder=""></textarea>
      </div>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="ui error message"></div>
      <div class="right-aligned">
        <button class="ui button">Cancel</button>
        <button class="ui inverted button submit-button" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
</div>

