.algolia-autocomplete {
  width: 250px;
  color: rgba(0,0,0,.87);
  text-decoration: none;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
  min-height: 30px;
  text-indent: 10px;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  margin-top: 3px;
  border-radius: .28571429rem;
  border: 1px solid #D4D4D5;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background: #F9FAFB;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}
.algolia-autocomplete .category {
  text-align: left;
  background: #F3F4F5;
  border-radius: .28571429rem .28571429rem 0 0;
  // ;
  color: #505050;
  padding: 10px 5px;
}
