.algolia-autocomplete {
  width: 200px;
  color: #777777;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
  min-height: 30px;
  text-indent: 10px;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background: #f8f8f8;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}
.algolia-autocomplete .category {
  text-align: left;
  background: white;
  padding: 10px 5px;
  font-weight: bold;
}
.left-container{
  vertical-align:top;
  width: 60%;
  display: inline-block;
}
.right-container{
  vertical-align:top;
  width: 40%;
  display: inline-block;
}
